@import '../variables.scss';

#continue{
	background-color: #222;
	border: 4px #999 solid;
	border-radius: 2px;
	font-size: 20px;
	line-height: 30px;
	outline:none;
	padding:2px 6px;
	letter-spacing: 1px;
	min-width:110px;
	color: #ddd;
	align-self: center;
	justify-self: center;
	font-weight: bold;
}

#blackboard {
	width: 100%;
	border-top: #bda27e solid 10px;
	border-bottom: #c9ad86 solid 10px;
	box-shadow:
		0px 0px 0px 2px #c2a782,
		0px 0px 0px 4px #a58e6f,
		3px 4px 8px 5px rgba(0, 0, 0, 0.5),
		0px 1px 8px 0px black inset;
	background-color: #222;
	color: #bbb;
	font-size: 180%;
	display: grid;
	grid-template-rows: 400px min-content;
	margin-bottom: 50px;
	
	#content{
		display: grid;
		width: 100%;
		grid-template-columns: min-content auto min-content;
		align-items: center;	
	}

	a:hover{
		text-decoration: none;
	}

}

.h2Class{
	font-size: 48px;
	text-align: center;
	margin: 40px 0px;
	width: 100%;
}

.topicClass{
	font-size: 30px;
	height: 60px;
	line-height: 60px;

	&:not(#errorDiv):hover{
		font-size: 35px;
	}
}

.recentTableText{
	font-size: 24px;
	padding: 0px 20px 0px 40px;
	line-height: 40px;
}

@media only screen and (max-device-width: $varForMinDeviceWidth) {

	#blackboard {
		font-size: 80%;
		border-top: #bda27e solid 5px;
		border-bottom: #c9ad86 solid 5px;
		grid-template-rows: 200px min-content;
	}

	.h2Class{
		font-size: 40px;
		margin: 30px 0px;
	}

	.topicClass{
		font-size: 20px;
		height: 60px;
		line-height: 60px;

		&:not(#errorDiv):hover{
			font-size: 24px;
		}
	}

	.recentTableText{
		font-size: 20px;
		padding: 5px 10px;
		line-height: 25px;
	}
}