@use '../../../../variables.scss';

@keyframes becomeBlack{
  100%{opacity: 1;}
}
#header{
  h1{
    opacity: 0;
    font-size: 36px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    animation: becomeBlack 0.5s linear 0.5s 1 forwards normal;
  }
}

@keyframes becomeVisible{
  100%{opacity: 1;}
}
#main{
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  opacity: 0;
  animation: becomeVisible 0.5s linear 1s 1 forwards;

  .pmain{
    margin-left: 8px; 
    margin-right: 8px; 
    font-size: 30px;
  }
  .subHeading{
    font-size: 36px;
  }
  .pmain2{
    margin-left: 32px; 
    margin-right: 32px; 
    font-size: 30px;
  }
  .subText{
    margin-left: 64px; 
    margin-right: 64px;
    font-size: 28px;
  }

  .listStuff{
    margin-left: 80px; 
    margin-right: 80px;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 32px;
  }
}

#adDiv{
  margin-bottom:20px;

  &:has([data-ad-status=unfilled]){
    display: none;
  }

  ins{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    height: auto !important;
    overflow-x: auto;
    text-align: center;
    max-width: 95%;
  }
}

#sideButton{
  position: fixed;
  top: 112px;
  color: #FFDD77;
  background-color: #BB5500;
  border-color: #663300;
  border-width: 5px;
  border-style: solid;
  cursor: pointer;
  border-right-style: none;
  border-radius: 10px 0px 0px 10px;
  transition: right 0.4s;
  z-index: 11;
}

#mainFooter{
  grid-template-columns:140px auto 160px;
  grid-template-rows:min-content auto;

  #homeLink{
    grid-row: 1 / 3;
  }
  #feedback{
    border: solid black 3px;
    border-right:none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #donate{
    border: solid black 3px;
    border-left: none;
  }
}

@media (max-width: variables.$maxMobileWidth) {
  #header{
    h1{
      font-size: 28px;
      line-height: 34px;
    }
  }

  #main{
    padding-left: 8px;
    padding-right: 8px;

    .pmain{
      margin-left: 4px; 
      margin-right: 4px; 
      font-size: 28px;
    }
    .subHeading{
      font-size: 30px;
    }
    .pmain2{
      margin-left: 16px; 
      margin-right: 16px; 
      font-size: 28px;
    }
    .subText{
      margin-left: 24px; 
      margin-right: 24px; 
      font-size: 24px;
    }
    .listStuff{
      margin-left: 40px; 
      margin-right: 40px;
      font-size: 24px;
    }
  }

  #mainFooter{
    grid-template-columns:140px 160px;
    justify-content: space-between;

    #homeLink{
      grid-row: 2 / 3;
    }
    #feedback{
      grid-column: 1 / 3;
      border: solid black 3px;
      width: 100%;
    }
    #donate{
      border: none;
    }
  }
}