@use './variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	box-sizing: border-box;
}

.scroll1{
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #222;
	}

	::-webkit-scrollbar-thumb {
		background: #aaa;
	}

	::-webkit-scrollbar-corner{ 
		background: #222;
	}
}

.scroll2{
	::-webkit-scrollbar {
	  width: 10px;
	}
	::-webkit-scrollbar-track {
	  background: rgb(150,60,00);
	}
	::-webkit-scrollbar-thumb {
		background: rgb(180,90,00);
		border: none;
		border-radius:4px 
	}
	::-webkit-scrollbar-corner{ 
		background: rgb(150,60,00);
	}
}

a:hover{
	text-decoration: underline;
}

.eqn-num{
	display: none !important;
}

@media only screen and (min-device-width: variables.$maxMobileWidth) {
	:root{
		min-width: variables.$maxMobileWidth;
		overflow-x: auto;
		scroll-behavior: smooth;
	}
}