@import '../../../../variables.scss';

:export {
  minDeviceWidth: $varForMinDeviceWidth;
}

#header{
  h1{
    padding-left: 8px;
    padding-right: 8px;
  }
}

#main {
  width:100%;
  padding-bottom:40px;
}

#article ul{
  position: relative;

  li::before{
    content: '🙡';
    position: absolute;
    left: -30px;
  }

}

#adInBlackBloard {
  flex: auto;
  display: flex;
  flex-direction: column;

  div:has([data-ad-status=unfilled]){
    display: none;
  }

  &:not(:has([data-ad-status=unfilled])) #blackBoardDiv{
    display: none;
  }
}

#adBelowArticle{
  margin-bottom:20px;
  ins{
    text-align:center;
    max-width:95%;
    overflow-x:auto;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display:block;
  }
}

#adBelowArticle:has([data-ad-status=unfilled]){
  display: none;
}


@media (min-width: $varForMinDeviceWidth) {
  #header{
    h1{
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}